@import url('caregiverstyle.css');

.logo {
    width: 120px;       
    height: 120px;     
    border-radius: 20px;
    object-fit: cover;  
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc; 
}

.primary-btn {
    background-color: #254f7b;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.primary-btn:hover {
    background-color: rgb(113, 53, 169);
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

select:focus {
    border-color: #254f7b;
    outline: none;
    box-shadow: 0 0 5px rgba(37, 79, 123, 0.3);
}

select option {
    padding: 10px;
    background-color: white;
    color: #333;
}

.otp-btn{
    background:#007bff;
    color:white;
    border:none;
    padding:10px 18px;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

.otp-box{
    margin-top:15px;
    padding:15px;
    background: rgb(158, 239, 158);
    border-radius:10px;
    font-size:18px;
}

.caregiver-box{
    margin-top: 10px;
    background: #eef2f7;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.caregiver-box h4{
    margin: 0 0 6px;
    font-size: 15px;
    color: #2c3e50;
}
