body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
   background: radial-gradient(circle at top, var(--secondary-300), var(--primary-300));
    min-height: 100vh;
}

.page-wrapper {
    display: flex;
    flex: 1;
}

main, .container, .content {
    flex: 1;
}

.navbar {
    background: #2c3e50;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}
